body{
    background: linear-gradient(#EFF1FA,#e9ecf8) ;
    font-family: "Inter", sans-serif;
}
.logo{
    display: flex;
    margin: 2vw 0 1vw 1.6vw;
    align-items: center;
}
.logo > h1{
    padding: 0 0 0 2vw;
    font-size: 2.6vh;
    color: #072B61;
}
main{
    position:relative;
    margin:0 3vh;
}
.contenedores{
    display: flex;
    margin: 1vw 0 0 11vw;
}
.inputbox, .outputbox{
    border: none;
    border-radius: 32px;
    resize: none;
    padding: 1.5em 1em 0 1.5em;
}
.entradaTexto{
    width: 60%;
    margin: 5vh auto;
    display: block;    
}
.inputbox, .inputbox::placeholder{
    width: 85%;
    height: 75%;  
    font-size: xxx-large;    
    color: #0A3871;
    background: none;    
    font-family: "Inter", sans-serif;
}
.parteBaja{
    margin: 2vw 0 0 2vw;
}
.parteBaja>p{
    font-size: x-large;
}
.botones{   
    margin: 1.5vh 0 0 0;
}
.botoni, .botono{
    width: 15vw;
    height: 6vh;    
    border-radius: 1.4vw;  
    font-size: 1.7em;
    transition: 500ms;
}
.botoni{
    background-color: #0A3871;
    color: white;
}
.botono{    
    border-color: #072B61;  
    background-color: #CED4DA;
    color:#072B61;
    margin: 0 0 0 2.5vw;

}
.botoni:hover,.botono:hover{

    width: 16.5vw;
    height: 6.6vh;
    font-size: 1.9em;
}
.salidaTexto{
    position: relative;
    width: 40%;
}
.outputbox{  

    width: 60%;
    height: 68vh;
    margin: 0 0 0 5vh;   
    font-size: 2.3em;
    pointer-events: none;
    box-shadow: 1vh 2vh 3vh 0.5em #aab2d5;
}
.sinMensaje{
    position: absolute;
    left: 12%;
    top: 25%;
    pointer-events:none;
    text-align: center;
}
#botonc{
    background: none;
    border: none;
}
.botonCopiar{
    position: absolute;
    top: 90%;
    left: -25%;
    width: 10%;
    visibility: hidden;
    transition: 400ms;
}
.botonCopiar:hover{
    width: 11.5%;
}
.textoMuneco{
    margin: 5px 0 0 0;
}
.textoMuneco>h2{
    font-size: 1.2vw;
    font-weight: bold;
}
.textoMuneco>p{
    padding: 1.5vh 0 0 0;
    font-size: 0.8vw;
}

footer{
    margin: 3vw 0 0 0 ;
    text-align: center;
    background: none;
}
.imagenesRedes img{
    padding: 0 1vw 0 0vw;
    width: 3%;
}

/*Configuración para pantalla de tableta */


@media screen and (max-width: 768px){
    
    .logo{
        display: block;
        text-align: center;
        margin: 2vh auto;
    }
    .encabezado{
        margin: 1vh auto;
        font-size: 1.5vw;
    }
    .contenedores{
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .entradaTexto{
        width: 100%;
        margin: 5vh auto;
        display: block;    
    }
    .inputbox{
        padding: 0.5em 0 0 1.3em;
        width: 80%;
        height: 35vw; 
    }
    .inputbox,.inputbox::placeholder{
       
        font-size: xx-large;
    }
    .parteBaja{
        margin: 2vh 0 1vh 0;
    }
    .parteBaja > p{
        font-size: large;
    }
    .botones{   
        margin: 1.5vh 0 0 0;
    }
    .botoni, .botono{
        width: 25vw;
        height: 6vh;    
        border-radius: 3vw;  
        font-size: 1.5em;
    }
    .botoni:hover,.botono:hover{
        width: 25vw;
        height: 6vh;
        font-size: 1.5em;/*
        background-color: white;*/
    }
    .salidaTexto{
        position: relative;
        height: 40%;
        width: 100%;
    }
    .outputbox{
        width: 80%;
        height: 25vh;
        margin: 0 0 0 5vh;   
        font-size: 2.3em;
        pointer-events: none;
        box-shadow: 1vh 2vh 3vh 0.5em #aab2d5;
    }
    .sinMensaje{
        text-align: center;
        top: 45%;
        left: 53%;
        transform: translate(-50%,-50%);
    }
    .muneco{        
        width: 40%;
    }
    .textoMuneco>h2{
        font-size: 1.2em;
        font-weight: bold;
    }
    .textoMuneco>p{
        padding: 1.5vh 0 0 0;
        font-size: 0.8em;
    }
    #botonc{
        background: none;
        border: none;
    }
    .botonCopiar{
        position: absolute;
        top: -32%;
        left: 85%;
        width: 6%;
        visibility: hidden;
        
    }
    .botonCopiar:hover{
        width: 6.5%;
    }
    footer{
        margin: 2vw 0 0 0 ;
        text-align: center;
        background: none;
    }
    .imagenesRedes img{
        padding: 0 0 0 2vw;
        width: 4%;
    }
    



}



/*Configuración para pantalla de celular*/

@media screen and (max-width: 425px) {

    .
    
}


    


